@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	:root {
		--shadow: 0px 0px 10px 0px #00000040;
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		font-family: 'Roboto', Segoe UI, sans-serif;
	}

	body {
		width: 100vw;
		height: 100vh;
		background-color: #e5e5e5;
	}
	@media screen and(min-width: 768px) {
		/* Layout Grid */
		:root {
			--larg-menu-lateral: 220px;
			--alt-cabecalho: 68px;
			--alt-rodape: 181px;
		}
		/* Layout Grid */
		header.cabecalho {
			grid-area: cabecalho;
		}

		nav.menulateral {
			grid-area: menuLat;
		}

		main.conteudo {
			grid-area: conteudo;
		}

		footer.rodape {
			grid-area: rodape;
		}

		.app {
			display: grid;
			grid-template-columns: var(--larg-menu-lateral) 1fr;
			grid-template-rows: var(--alt-cabecalho) 1fr var(--alt-rodape);
			grid-template-areas:
				'menuLat cabecalho'
				'menuLat conteudo'
				'menuLat rodape';
		}
	}

	@media screen and(min-width: 1366px) {
	}

	/* SideMenu Css */
	.menulateral {
		box-shadow: var(--shadow);
	}
}
