.rodape {
	background-color: rgb(199, 225, 250); /* Remover */
}
.rodape__containerLogo {
	align-self: center;
}

.rodape__containerLogo a {
	padding: 5px;
	background: #71478e;
	font-family: 'QuickSand', sans-serif;
}

.rodape__texto p {
	font-family: 'QuickSand', sans-serif;
	color: #5c5c5c;
}

.rodape__logo {
	width: 200px;
}
