.rodape {
	border-top: 1px solid #a3a1a142;
	display: flex;
	padding: 20px;
	min-width: 220px;
	align-items: center;
}
.rodape__containerLogo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
}

.rodape__logo {
	min-width: 220px;
}

.rodape__button {
	display: flex;
	padding: 5px;
	background: #71478e;
	border-radius: 10px;
	justify-content: center;
	color: azure;
	font-family: 'QuickSand', sans-serif;
	font-size: 16px;
	min-width: 220px;
}

.rodape__button:hover {
	background-color: #8761a1;
	text-decoration: underline;
}

.rodape__containerTexto {
	margin-left: 10px;
	padding: 10px;
	min-width: 220px;
}

.rodape__containerTexto p {
	font-family: 'QuickSand', sans-serif;
	color: #535353;
	margin-bottom: 10px;
	font-size: 16px;
	text-align: justify;
}

@media (max-width: 481px) {
	.rodape {
		flex-direction: column;
	}
}

@media (min-width: 1620px) {
	.rodape__logo {
		width: 300px;
	}

	.rodape__button {
		font-size: 24px;
		width: 300px;
	}

	.rodape__containerTexto p {
		font-size: 28px;
	}
}

@media (min-width: 2500px) {
	.rodape__logo {
		width: 350px;
	}

	.rodape__button {
		font-size: 24px;
		width: 350px;
	}

	.rodape__containerTexto p {
		font-size: 34px;
	}
}
