.cabecalho {
	display: flex;
	justify-content: space-between;
	background: #fdf1eb;
	display: flex;
	padding: 5px 20px;
	height: 70px;
}

.cabecalho__titulo {
	font-size: 22px;
	color: #725c5c;
	font-weight: 400;
}
.cabecalho__titulo > :nth-child(odd) {
	font-weight: 300;
	font-size: 14px;
}

.cabecalho__dropdown {
	display: flex;
	padding: 5px 5px;
}

.dropdown__dropbtn {
	white-space: nowrap;
	align-items: center;
	background-color: transparent;
	color: #333333;
	padding: 0px 5px;
	margin: 3px;
	border: 1px solid rgba(80, 77, 77, 0.596);
	cursor: pointer;
	font-family: 'QuickSand';
	font-size: 12px;
}

.dropdown__dropbtn span {
	margin: 2px;
}

.login__conta {
	font-size: 12px;
	text-align: end;
	margin: auto 5px;
}

.login__icone {
	font-size: 35px;
}

@media (max-width: 1023px) {
	.cabecalho__titulo {
		font-size: 14px;
	}

	.cabecalho__titulo > :nth-child(odd) {
		font-size: 10px;
	}

	.dropdown__dropbtn {
		font-size: 10px;
	}

	.login__conta {
		font-size: 9px;
	}
}

@media (min-width: 1023px) {
	.cabecalho__titulo {
		font-size: 16px;
	}

	.cabecalho__titulo > :nth-child(odd) {
		font-size: 12px;
	}

	.login__conta {
		font-size: 10px;
	}
}

@media (min-width: 1720px) {
	.cabecalho {
		height: 100px;
		padding: 10px 20px;
	}
	.cabecalho__titulo {
		font-size: 25px;
	}

	.cabecalho__titulo > :nth-child(odd) {
		font-size: 20px;
	}

	.dropdown__dropbtn {
		font-size: 24px;
		margin-right: 20px;
		padding: 20px;
	}

	.dropdown__dropbtn span {
		margin: auto 10px;
	}

	.login__conta {
		font-size: 20px;
	}
}
