/* Login */
.login {
	display: flex;
	align-items: center;
}

.login__conta p {
	font-family: 'QuickSand';
}

.login__icone {
	max-height: 44px;
	max-width: 50px;
}

.notificacao {
	font-size: 11px;
	background-color: red;
	padding: 4px;
	border-radius: 90%;
	color: antiquewhite;
	font-weight: 800;
	right: 17px;
	top: 10px;
	position: absolute;
}

@media (max-width: 800px) {
	.login__conta p {
		font-size: 15px;
	}
}

@media (max-width: 345px) {
	.login__conta p {
		font-size: 12px;
	}

	.login__icone :nth-child(1) {
		margin: 1px;
		font-size: 33px;
	}
}
