@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Quicksand:wght@400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	--cards-color: #fdf1eb;
	--white-color: #f5f5f5;
	--white-border: #ececec;
	--grey-border: #ccccccd7;
	--font-color: #725c5c;
	--top-gradient: linear-gradient(to top, #ffb354, #ee7a3a);
	--shadow: 0px 0px 10px #00000040;
}

::-webkit-scrollbar-track {
	background-color: #f4f4f4;
}
::-webkit-scrollbar {
	width: 7px;
	background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #ee7a3a;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', Segoe UI, sans-serif;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.app {
	display: flex;
	min-height: 100vh;
	max-width: 100vw;
}

.app__container {
	display: flex;
	flex-direction: column;
}

.app__container__content {
	margin: 20px;
}

.navbar {
	display: none;
}

@media (max-width: 800px) {
	.app {
		display: flex;
		flex-direction: column;
	}

	.cabecalho {
		display: none;
	}

	.menulateral {
		display: none;
	}

	.navbar {
		display: block;
	}

	.login__conta {
		padding: 3px;
	}

	.login__conta p {
		color: var(--white-color);
		font-weight: 500;
		font-family: 'QuickSand';
	}

	.login__icone {
		color: var(--white-color);
		font-size: 40px;
	}
}
